
.draggable {
    cursor: pointer;
    touch-action: none; 
}

.draggable.dragging {
    cursor: grabbing;
}

.game {
    cursor: auto;
    overflow: visible;
    /* touch-action: none !important;  */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    min-height: 100vh;
    overflow: hidden;
}

.game.dragging {
    cursor: grabbing;
}

.dragging {
    cursor: grabbing;
}
