
.draggable {
    cursor: pointer;
    touch-action: none; 
}

.draggable.dragging {
    cursor: grabbing;
}

.game {
    cursor: auto;
    overflow: visible;
    min-height: 100vh;
    overflow: hidden;
}

.game.dragging {
    cursor: grabbing;
}

.dragging {
    cursor: grabbing;
}
