@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* .draggable {
  cursor: move !important;
}

.boardSpace {
  cursor: move !important;
}

#board {
  cursor: move !important;
}

#panel {
  cursor: move !important;
}

body {
  cursor: grabbing !important;
} */

/* .draggable:active {
  cursor: grabbing !important;
}

body {
  cursor: default;
}

body.grabbing {
  cursor: grabbing !important;
} */

